<header class="row">
    <div class="col-12">
        <img src="../../assets/image/kiem-tra-iq-cua-ban-1.jpg" height="200px;" width="100%">

    </div>


    <div class="col-12">
        <marquee>
            Trang web thi trăc nghiệm trực tiếp.Bạn đã học bài và sẳng sàng bắt đầu kì thi chưa?
        </marquee>
    </div>


    <div class="col-12">

        <nav class="navbar navbar-expand-lg navbar-warning bg-warning">


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/productss1']" style="color: aliceblue">
                            <h5><i>Giới thiệu</i></h5> <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/productss2']" style="color: aliceblue">
                            <h5><i>Liên hệ</i></h5> <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/gopy']" style="color: aliceblue">
                            <h5><i>Góp ý</i></h5> <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/hoidap']" style="color: aliceblue">
                            <h5><i>Hỏi đáp </i></h5> <span class="sr-only">(current)</span>
                        </a>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: aliceblue">
                        <i class='far fa-smile' style='font-size:24px;color: aliceblue'></i>Danh tính
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/dangky']">Đăng ký</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>


                    </div>
                </form>

            </div>
        </nav>

    </div>
</header>

<body style="color: black; background: url('../../assets/image/manhinh2.jpg');" class="row">
    <div class="content-bottom">
        <div class="icon1">

            <i class='fas fa-user-secret' style='font-size:48px;color:aliceblue'></i>

        </div>
        <form action="#" method="post">
            <div class="field-group">
                <span class="fa fa-user" aria-hidden="true"></span>
                <div class="wthree-field">
                    <input name="text1" id="text1" type="text" value="" placeholder="Username" required
                        [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="field-group">
                <span class="fa fa-lock" aria-hidden="true"></span>
                <div class="wthree-field">
                    <input name="password" id="myInput" type="Password" placeholder="Passcu" [(ngModel)]="pass"
                        [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="field-group">
                <span class="fa fa-lock" aria-hidden="true"></span>
                <div class="wthree-field">
                    <input name="text" id="myInput" placeholder="fullname" [(ngModel)]="fullname"
                        [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="field-group">
                <span class="fa fa-lock" aria-hidden="true"></span>
                <div class="wthree-field">
                    <input name="email" id="myInput" type="email" placeholder="email" [(ngModel)]="email"
                        [ngModelOptions]="{standalone: true}">
                </div>
            </div>

            <div class="field-group">
                <span class="fa fa-lock" aria-hidden="true"></span>
                <div class="wthree-field">
                    <input name="text" id="myInput" type="text" placeholder="gender" [(ngModel)]="gender"
                        [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="field-group">
                <span class="fa fa-lock" aria-hidden="true"></span>
                <div class="wthree-field">
                    <input name="datetime-local" id="myInput" type="datetime-local" placeholder="birthday"
                        [(ngModel)]="birthday" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="field-group">
                <span class="fa fa-lock" aria-hidden="true"></span>
                <div class="wthree-field">
                    <input name="schoolfee" id="myInput" type="number" placeholder="schoolfee" [(ngModel)]="schoolfee"
                        [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="field-group">
                <span class="fa fa-lock" aria-hidden="true"></span>
                <div class="wthree-field">
                    <input name="marks" id="myInput" type="number" placeholder="marks" [(ngModel)]="email"
                        [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="wthree-field">
                <button type="submit" class="btn btn-primary" (click)='Check()'>Tạo tài khoản</button>
                <button type="submit" class="btn btn-primary" [routerLink]="['/dangnhap']">Trang đăng nhập</button>
            </div>

            <!-- <ul class="list-login-bottom" style="list-style: none;">
                <li class="">
                    <a href="#" class="">về trang đăng nhập</a>
                </li>

                <li class="clearfix"></li>
            </ul> -->
        </form>
    </div>
</body>