<div class="container">
    <header class="row">
        <div class="col-12">
            <img src="../../assets/image/kiem-tra-iq-cua-ban-1.jpg" height="200px;" width="100%">

        </div>


        <div class="col-12">
            <marquee>
                Trang web thi trăc nghiệm trực tiếp.Bạn đã học bài và sẳng sàng bắt đầu kì thi chưa?
            </marquee>
        </div>


        <div class="col-12">

            <nav class="navbar navbar-expand-lg navbar-warning bg-warning">


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/productss1']" style="color: aliceblue">
                                <h5><i>Giới thiệu</i></h5> <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/productss2']" style="color: aliceblue">
                                <h5><i>Liên hệ</i></h5> <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/gopy']" style="color: aliceblue">
                                <h5><i>Góp ý</i></h5> <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/hoidap']" style="color: aliceblue">
                                <h5><i>Hỏi đáp </i></h5> <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: aliceblue">
                            <i class='far fa-smile' style='font-size:24px;color: aliceblue'></i>Danh tính
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" [routerLink]="['/dangky']">Đăng ký</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>


                        </div>
                    </form>

                </div>
            </nav>

        </div>
    </header>

    <body style="color: black">
        <h5>Vui lòng đăng nhập tài khoản</h5>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Tài khoản</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tài khoản">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary" [routerLink]="['/dmmh']">Đăng nhập</button>
            <button type="submit" class="btn btn-success" style="margin: 10px" [routerLink]="['/matkhau']">Đổi mật
                khẩu</button>
            <button type="submit" class="btn btn-danger" [routerLink]="['/taikhoan']">Đổi tài
                khoản</button>
        </form>
    </body>

</div>