<div class="container">
    <header class="row">
        <div class="col-12">
            <img src="../../assets/image/kiem-tra-iq-cua-ban-1.jpg" height="200px;" width="100%">

        </div>


        <div class="col-12">
            <marquee>
                Trang web thi trăc nghiệm trực tiếp.Bạn đã học bài và sẳng sàng bắt đầu kì thi chưa?
            </marquee>
        </div>


        <div class="col-12">

            <nav class="navbar navbar-expand-lg navbar-warning bg-warning">


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/productss1']" style="color: aliceblue">
                                <h5><i>Chủ tài khoản</i></h5> <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/productss1']" style="color: aliceblue">
                                <h5><i>Giới thiệu</i></h5> <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/productss2']" style="color: aliceblue">
                                <h5><i>Liên hệ</i></h5> <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/gopy']" style="color: aliceblue">
                                <h5><i>Góp ý</i></h5> <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/hoidap']" style="color: aliceblue">
                                <h5><i>Hỏi đáp </i></h5> <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: aliceblue">
                            <i class='far fa-smile' style='font-size:24px;color: aliceblue'></i>Danh tính
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" [routerLink]="['/']">Đăng Xuất</a>



                        </div>
                    </form>

                </div>
            </nav>

        </div>
    </header>

    <body style="color: black" class="row">
        <div class="col-3" style="margin-top: 20px">
            <p>

                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Danh Mục Môn Học
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body ">
                    <button type="button" class="btn btn-light">Kiểm thử và thiết kế</button>
                </div>


                <div class="card card-body">
                    <button type="button" class="btn btn-light">SQL Server</button>
                </div>
                <div class="card card-body">
                    <button type="button" class="btn btn-light">Điện toán đám mây</button>
                </div>
                <div class="card card-body">
                    <button type="button" class="btn btn-light">Lập trình PHP</button>
                </div>
                <div class="card card-body">
                    <button type="button" class="btn btn-light">Lập trình Android nâng cao</button>
                </div>
                <div class="card card-body">
                    <button type="button" class="btn btn-light">Lập trình Android cơ bản</button>
                </div>
                <div class="card card-body">
                    <button type="button" class="btn btn-light">Thiết kế Layout</button>
                </div>
                <div class="card card-body">
                    <button type="button" class="btn btn-light">Thiết kế giao diện trên Android</button>
                </div>
                <div class="card card-body">
                    <button type="button" class="btn btn-light">Quản lý dự án vớiAgile</button>
                </div>
                <div class="card card-body">
                    <button type="button" class="btn btn-light">Internet Marketing</button>
                </div>
                <div class="card card-body">
                    <button type="button" class="btn btn-light">Lập trình hướng đối tượng với Java</button>
                </div>
                <div class="card card-body">
                    <button type="button" class="btn btn-light">Lập trình ASP.NET</button>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <div id="demo" class="carousel slide col-12" data-ride="carousel">
                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../../assets/image/android.jpg" style="width:100%;height: 500px;">
                                <div class="carousel-caption">
                                    <h3>Lập trình Android</h3>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../../assets/image/asp.png" style="width:100%;height: 500px;">
                                <div class="carousel-caption" style="color: black">
                                    <h3>Lập trình ASP.NET</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../../assets/image/dientoandammay.jpg" style="width:100%;height: 500px">
                                <div class="carousel-caption">
                                    <h3>Điện toán đám mây</h3>
                                </div>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">

                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
                <div class="col-4" style="margin: 15px">
                    <div class="card" style="width: 18rem;">
                        <a [routerLink]="['/products']">
                            <img src="../../assets/image/IM.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Internet Marketing</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-4" style="margin: 15px">
                    <div class="card" style="width: 18rem;">
                        <a [routerLink]="['/products']">
                            <img src="../../assets/image/java.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lập trình hướng đối tượng với java</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-4" style="margin: 15px">
                    <div class="card" style="width: 18rem;">
                        <a [routerLink]="['/products']">
                            <img src="../../assets/image/layout.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Thiết kế Layout</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-4" style="margin: 15px">
                    <div class="card" style="width: 18rem;">
                        <a [routerLink]="['/products']">
                            <img src="../../assets/image/sqlserver.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">SQL Server</p>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </body>
</div>